* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    background-color: #07151A;
    user-select: none;
    overflow: hidden;
}

.gameOver {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(3rem, 10vw, 5rem);
    font-weight: bold;
    color: #f21010;
    text-shadow: 0 0 10px #ff0404;
    background-color: #0000006e;
    visibility: hidden;
}

.gameOver.active {
    visibility: visible;
}
